@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&family=Kanit:wght@300&family=Montserrat&family=Mukta:wght@300;400&family=Noto+Sans:wght@500&family=Playpen+Sans&family=Roboto&family=Rubik:wght@500&family=Space+Grotesk:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
    font-family: 'Noto Sans', sans-serif;
      
}

.navbar {
    display: flex;
    height: 67px;
    font-family: 'Playpen Sans', cursive;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
    padding: 30px;
}

.topright{
    width: 50%;
  
    
}

.section1{
   max-height: 100vh;
   color: rgb(126, 25, 221);

}
.section h1{
    color: rgb(27, 7, 48);
    font-size: 2rem ;
    
}
 .deal{
    justify-content: center;
    align-items: center;
 }
 
.logo{
    font-size: 1.3rem;
}

.dumbelling{
    width: 179px;
}
.topright .gyming{
     width: 366px;
     border-radius: 20px;
 
     
}
.section2{

    padding:73px;
}


.section2 h1{
 
    font-size: 3rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border-radius: 20px;
    border: 2px solid   rgb(128, 124, 132);
    text-align: center;
}

.box h2{

    font-size: 2rem;
    padding: 12px ;
}

.highlighted{

    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px ;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 30px;
    border-collapse: collapse ;
}

.section3 table th{
     width:  23vw;
     border-bottom: 2px solid black;
     padding: 15px 0;
}

.section3 table td{
    border-bottom: 2px solid black;
}


.section3 h1{
 
    font-size: 3rem;
}

.section3{

    padding:73px;
}


footer{
    padding: 23px;
    text-align: center;

}

.deal{
    padding: 5px;
    color: rgb(237, 70, 24);
    font-family: 'Playpen Sans', cursive;
}